## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

## Visual Studio
.vs/
*.swp
*~
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Secrets / local
appsettings.*.local.json
*.pfx
*.publishsettings

## OS
.DS_Store
Thumbs.db
Desktop.ini
